/* TopBar.css */
.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 8px;
  background-color: #333;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  /* position: fixed; */
  top: 0;
  width: 100%;
  z-index: 10;
}

.theme-name {
  flex: 1;
  text-align: left;
  font-size: 20px;
}

.transmit-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.transmit-button:hover {
  background-color: #0056b3;
}

.transmit-button:active {
  background-color: #004085;
}
